<div class="jumbotron text-center">
  <%= image_tag "Responsive.png" %>
  <h1>Napp</h1>
  <p><%= t "frontend.home.app.name" %></p>
  <p><%= link_to fa_icon("toggle-on", text: t("frontend.home.button")), locale_root_path, class: "btn btn-primary btn-lg" %></p>
</div>
