<h1><%= t "signup.notification.title" %></h1>

<p>
    <h3><%= t "signup.notification.subtitle" %></h3>
    <ul class="nav">
        <li><%= @user.fullname %></li>
        <li><%= @user.email %></li>
    </ul>
</p>
