<%= render 'layouts/sidebar_main' %>

<% content_for :title do %>Admin Dashboard<% end %>

<div class="page-header">
    <h2>Admin Dashboard</h2>
</div>

<p>Find me in app/views/admin/dashboard.html.erb</p>
