 .btn-custom {
    @extend .btn;
    padding: 0.5em 0 0.6em;
 }

.btn-file {
    position: relative;
    overflow: hidden;
    padding: 0.25em 0.75em 0.15em;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
