.wrapper {
    .content {
        width: 100%;
        margin: 4em 0;
        padding: 0 0.66em 0 0.66em;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .wrapper {
        .content {
            margin-top: 0;
            padding: 0 1.5em 0 0.5em;
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .wrapper {
        .content {
            margin-top: 0;
            padding: 0 1.5em 0 0.5em;
        }
    }
}

@media (min-width: $screen-lg-min) {
    .wrapper {
        .content {
            margin-top: 0;
            padding: 0 1.5em 0 0.5em;
        }
    }
}
