.user-actions i {
  padding-right: 0.5em;
}

.table i {
  padding: 0 0.5em;
}

.page-header i,
.dataTables_filter i {
  padding-right: 0.33em;
}

.dataTables_info i {
  padding-right: 0.33em;
  padding-left: 0.33em;
}

.dataTables_filter i {
  color: $brand-default;
  display: inline-block;
}
