<span class="btn-dropdown btn-dropdown-radical-red language-nav" data-buttons="dropdown">
  <button id="language-selector" class="btn btn-radical-red btn-longshadow btn-circle btn-small">
    <i class="fa fa-flag"></i>
  </button>

  <ul class="btn-dropdown-list">
    <%= switch_locale_frontend %>
  </ul>
</span>
