/**
 * Media Queries
 * -----------------------------------------------------------------------------
 */

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .navbar-fixed-top {
        padding-left: 0.33em;
        padding-right: 0.33em;
    }
    main {
        padding-top: 0.63em;
        padding-bottom: 3em;
        width: 100%;
        margin-top: 51px; // accommodate the navbar
        padding-left: 64px;
        padding-right: 64px;
    }
    .sidebar {
        background-color: $brand-primary;
        margin-left: -56px;
        left: 56px;
        width: 56px;
        position: fixed;
        height: 100%;
        overflow-y: auto;
        z-index: 1000;
    }
    .sidebar-nav {
        position: absolute;
        left: 0;
        ul li {
          padding: 0;
          a {
            width: 56px;
            color: #FFFFFF;
            &:hover {
              color: $brand-primary;
            }
          }
        }
        ul li.active a {
            background: $gray-lighter;
            color: $brand-primary;
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .navbar-fixed-top {
        padding-left: 0.33em;
        padding-right: 0.33em;
    }
    main {
        padding-top: 0.63em;
        padding-bottom: 3em;
        width: 100%;
        margin-top: 51px; // accommodate the navbar
        padding-left: 64px;
        padding-right: 64px;
    }
    .sidebar {
        background-color: $brand-primary;
        margin-left: -56px;
        left: 56px;
        width: 56px;
        position: fixed;
        height: 100%;
        overflow-y: auto;
        z-index: 1000;
    }
    .sidebar-nav {
        position: absolute;
        left: 0;
        ul li {
          padding: 0;
          a {
            width: 56px;
            color: #FFFFFF;
            &:hover {
              color: $brand-primary;
            }
          }
        }
        ul li.active a {
            background: $gray-lighter;
            color: $brand-primary;
        }
    }
}

@media (min-width: $screen-lg-min) {
    .navbar-fixed-top {
        padding-left: 0.33em;
        padding-right: 0.33em;
    }
    main {
        padding-top: 0.63em;
        padding-bottom: 3em;
        width: 100%;
        margin-top: 51px; // accommodate the navbar
        padding-left: 64px;
        padding-right: 64px;
    }
    .sidebar {
        background-color: $brand-primary;
        margin-left: -56px;
        left: 56px;
        width: 56px;
        position: fixed;
        height: 100%;
        overflow-y: auto;
        z-index: 1000;
    }
    .sidebar-nav {
        position: absolute;
        left: 0;
        ul li {
          padding: 0;
          a {
            width: 56px;
            color: #FFFFFF;
            &:hover {
              color: $brand-primary;
            }
          }
        }
        ul li.active a {
            background: $gray-lighter;
            color: $brand-primary;
        }
    }
}
