/**
 * Media Queries
 * -----------------------------------------------------------------------------
 */

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    // Navbar
    .navbar-fixed-top {
        padding-left: 0.33em;
        padding-right: 1em;

        .collapse {
            .nav-page-links {
                padding-left: 1em;
            }
            .nav-user-links {
                background-color: darken($brand-success, 5%);

                .user-edit {
                    background-color: darken($brand-success, 10%);
                }
            }
            .nav-lang-links {
                padding: 1.2em 1em 1.2em 0.66em;

                .btn-group {
                    .dropdown-menu {
                        padding: 0.33em 0;
                        min-width: 2em;
                        a {
                            padding-left: 1.33em;
                            color: $brand-primary;
                            &:hover {
                                color: #ffffff;
                            }
                        }
                    }
                }

                .current-locale {
                    color: $brand-success;
                    background-color: $gray-lighter;
                    padding-left: 0.66em;
                }
            }
        }
    }

    // Wrapper
    .wrapper {
        padding: 0.63em 0.5em 0em 1.5em;
        width: 100%;

        // Content
        .content {
            margin-top: 0;
            padding: 0 1.5em 0 0.5em;
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    // Navbar
    .navbar-fixed-top {
        padding-left: 0.33em;
        padding-right: 1em;

        .collapse {
            .nav-page-links {
                padding-left: 1em;
            }
            .nav-user-links {
                background-color: darken($brand-success, 5%);

                .user-edit {
                    background-color: darken($brand-success, 10%);
                }
            }
            .nav-lang-links {
                padding: 1.2em 1em 1.2em 0.66em;

                .btn-group {
                    .dropdown-menu {
                        padding: 0.33em 0;
                        min-width: 2em;
                        a {
                            padding-left: 1.33em;
                            color: $brand-primary;
                            &:hover {
                                color: #ffffff;
                            }
                        }
                    }
                }

                .current-locale {
                    color: $brand-success;
                    background-color: $gray-lighter;
                    padding-left: 0.66em;
                }
            }
        }
    }

    // Wrapper
    .wrapper {
        padding: 0.63em 0.5em 0em 1.5em;
        width: 100%;

        // Content
        .content {
            margin-top: 0;
            padding: 0 1.5em 0 0.5em;
        }
    }
}

@media (min-width: $screen-lg-min) {
    // Navbar
    .navbar-fixed-top {
        padding-left: 0.33em;
        padding-right: 1em;

        .collapse {
            .nav-page-links {
                padding-left: 1em;
            }
            .nav-user-links {
                background-color: darken($brand-success, 5%);

                .user-edit {
                    background-color: darken($brand-success, 10%);
                }
            }
            .nav-lang-links {
                padding: 1.2em 1em 1.2em 0.66em;

                .btn-group {
                    .dropdown-menu {
                        padding: 0.33em 0;
                        min-width: 2em;
                        a {
                            padding-left: 1.33em;
                            color: $brand-primary;
                            &:hover {
                                color: #ffffff;
                            }
                        }
                    }
                }

                .current-locale {
                    color: $brand-success;
                    background-color: $gray-lighter;
                    padding-left: 0.66em;
                }
            }
        }
    }

    // Wrapper
    .wrapper {
        padding: 0.63em 0.5em 0em 1.5em;
        width: 100%;

        // Content
        .content {
            margin-top: 0;
            padding: 0 1.5em 0 0.5em;
        }
    }
}
