<div class="btn-group">
  <button type="button" class="btn btn-success-semi-dark btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <%= fa_icon "language" %><span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <%= switch_locale %>
  </ul>
