<% content_for :sidebar do %>
<div class="sidebar-nav">
    <ul class="nav">
        <li class="text-center"><%= link_to fa_icon("code lg"), locale_root_path %></li>
        <li class="active text-center"><%= link_to fa_icon("code-fork lg"), locale_root_path %></li>
        <li class="text-center"><%= link_to fa_icon("sitemap lg"), locale_root_path %></li>
        <li class="text-center"><%= link_to fa_icon("cogs lg"), locale_root_path %></li>
    </ul>
</div>
<% end %>
